<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
  <script src="luxon.js"></script>
  <title>MoC tracker</title>
</head>
<body>
  <div id="app">
    <table>
      <thead class="border">
        <tr>
          <th class="intro">Name</th>
          <th class="intro">Confirmed?</th>
          <th class="intro">Type</th>
          <th class="intro">Status</th>
          <th class="intro">For:</th>
          <th class="intro">Who is the meeting with:</th>
          <th class="time-related">Start</th>
          <th class="time-related">Meeting date</th>
          <th class="time-related">Days till meeting</th>
          <th class="time-related">OpCo Deadline</th>
          <th class="time-related">Delivery Date</th>
          <th class="time-related">Rem 1</th>
          <th class="time-related">Rem 2</th>
          <th class="rest">Warsaw Status</th>
          <th class="cl">Marsh CL</th>
          <th class="ca">Marsh CA</th>
          <th class="cl">Mercer CL</th>
          <th class="ca">Mercer CA</th>
          <th class="ca">Mercer Wealth (Lindsey)</th>
          <th class="ca">MMB (Jeffrey)</th>
          <th class="cl">GC CL</th>
          <th class="ca">GC CA/RE</th>
          <th class="cl">OW CL</th>
          <th class="ca">OW CA</th>
          <th class="cl">B2B</th>
          <th class="ca">MMC</th>
          <th class="rest">BIO</th>
        </tr>
      </thead>
      <tbody >
        <tr class="select-row" v-for="row in tableRows">
          <td id="client-name">
            {{ row.data.clientName }}
          </td>
          <td id="confirmation">
            {{ row.data.confirmed }}
          </td>
          <td id="brief-type">
            {{ row.data.briefType }}
          </td>
          <td id="set-status">
            {{ row.data.setStatus }}
          </td>
          <td id="who-for">
            {{ row.data.whoFor }}
          </td>
          <td id="who-with">
            {{ row.data.whoWith }}
          </td>
          <td id="start-date">
            {{ formatDate(row.data.startDate) }}
          </td>
          <td id="meet-date">
            {{ formatDate(row.data.meetDate) }}
          </td>
          <td id="days-till-meet">
            {{ dateTill(row.data.meetDate) }}
          </td>
          <td id="opco-deadline">
            {{ formatDate(row.data.deadline) }}
          </td>
          <td id="delivery-date">
            {{ formatDate(row.data.delDate) }}
          </td>
          <td id="rem-1">

          </td>
          <td id="rem-2">

          </td>
          <td id="waw-status">
            <select name="status" id="status">
              <option></option>
              <option value="Pending">Pending</option>
              <option value="WIP">WIP</option>
              <option value="PR1">PR1</option>
              <option value="PR2">PR2</option>
              <option value="Sent">Sent</option>
              <option value="On Hold">On Hold</option>
            </select>
          </td>
          <td id="marsh-cl">
            <div v-if="row.isEditable.find(it => it == 'marsh-cl')">
            <input v-model="row.editValue['marsh-cl']" 
            v-on:keyup.enter="saveCell(row, 'marsh-cl')"
            class="input" type="text" name="" id="">
            </div>
            <div class="entered" v-else @click="editCell(row, 'marsh-cl')">
              <p >{{ row.data['marsh-cl'] }}</p>
            </div>
          </td>
          <td id="marsh-ca">
            <div v-if="row.isEditable.find(it => it == 'marsh-ca')">
              <input v-model="row.editValue['marsh-ca']" 
              v-on:keyup.enter="saveCell(row, 'marsh-ca')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'marsh-ca')">
                <p >{{ row.data['marsh-ca'] }}</p>
            </div>
          </td>
          <td id="mercer-cl">
            <div v-if="row.isEditable.find(it => it == 'mercer-cl')">
              <input v-model="row.editValue['mercer-cl']" 
              v-on:keyup.enter="saveCell(row, 'mercer-cl')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'mercer-cl')">
                <p >{{ row.data['mercer-cl'] }}</p>
            </div>
          </td>
          <td id="mercer-ca">
            <div v-if="row.isEditable.find(it => it == 'mercer-ca')">
              <input v-model="row.editValue['mercer-ca']" 
              v-on:keyup.enter="saveCell(row, 'mercer-ca')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'mercer-ca')">
                <p >{{ row.data['mercer-ca'] }}</p>
            </div>
          </td>
          <td id="lindsey">
            <div v-if="row.isEditable.find(it => it == 'lindsey')">
              <input v-model="row.editValue['lindsey']" 
              v-on:keyup.enter="saveCell(row, 'lindsey')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'lindsey')">
                <p >{{ row.data['lindsey'] }}</p>
            </div>
          </td>
          <td id="mmb">
            <div v-if="row.isEditable.find(it => it == 'mmb')">
              <input v-model="row.editValue['mmb']" 
              v-on:keyup.enter="saveCell(row, 'mmb')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'mmb')">
                <p >{{ row.data['mmb'] }}</p>
            </div>
          </td>
          <td id="gc-cl">
            <div v-if="row.isEditable.find(it => it == 'gc-cl')">
              <input v-model="row.editValue['gc-cl']" 
              v-on:keyup.enter="saveCell(row, 'gc-cl')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'gc-cl')">
                <p >{{ row.data['gc-cl'] }}</p>
            </div>
          </td>
          <td id="gc-ca">
            <div v-if="row.isEditable.find(it => it == 'gc-ca')">
              <input v-model="row.editValue['gc-ca']" 
              v-on:keyup.enter="saveCell(row, 'gc-ca')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'gc-ca')">
                <p >{{ row.data['gc-ca'] }}</p>
            </div>
          </td>
          <td id="ow-cl">
            <div v-if="row.isEditable.find(it => it == 'ow-cl')">
              <input v-model="row.editValue['ow-cl']" 
              v-on:keyup.enter="saveCell(row, 'ow-cl')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'ow-cl')">
                <p >{{ row.data['ow-cl'] }}</p>
            </div>
          </td>
          <td id="ow-ca">
            <div v-if="row.isEditable.find(it => it == 'ow-ca')">
              <input v-model="row.editValue['ow-ca']" 
              v-on:keyup.enter="saveCell(row, 'ow-ca')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'ow-ca')">
                <p >{{ row.data['ow-ca'] }}</p>
            </div>
          </td>
          <td id="b2b">
            <div v-if="row.isEditable.find(it => it == 'b2b')">
              <input v-model="row.editValue['b2b']" 
              v-on:keyup.enter="saveCell(row, 'b2b')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'b2b')">
                <p >{{ row.data['b2b'] }}</p>
            </div>
          </td>
          <td id="mmc">
            <div v-if="row.isEditable.find(it => it == 'mmc')">
              <input v-model="row.editValue['mmc']" 
              v-on:keyup.enter="saveCell(row, 'mmc')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'mmc')">
                <p >{{ row.data['mmc'] }}</p>
            </div>
          </td>
          <td id="bio">
            <div v-if="row.isEditable.find(it => it == 'bio')">
              <input v-model="row.editValue['bio']" 
              v-on:keyup.enter="saveCell(row, 'bio')"
              class="input" type="text" name="" id="">
              </div>
              <div class="entered" v-else @click="editCell(row, 'bio')">
                <p >{{ row.data['bio'] }}</p>
            </div>
          </td>
        </tr>
      </tbody>
      </table>
      
        <div class="container">
          <button @click="showForm = true">Add new</button>
          <div v-show="showForm" class="control">
            <div class='add-fields'>
              <section>
                <div>
                  <label for="confirmed">Confirmed?</label>
                  <select v-model="confirmed" name="confirmed" id="confirmed">
                    <option value="blank"></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div>
                  <label for="briefSelection">Brief type:</label>
                  <select v-model="briefType" 
                  name="briefSelection" 
                  id="briefSelection">
                    <option value=""></option>
                    <option value="Client">Client</option>
                    <option value="Carrier">Carrier</option>
                  </select>
                </div>

                <div>
                  <label>Client name:</label>
                  <input v-model="clientName" type="text">
                </div>

                <div>
                  <label for="whoFor">For:</label>
                  <input v-model="whoFor" type="text" id="whoFor">
                </div>

                <div>
                  <label for="whoWith">Who is the meeting with:</label>
                  <input v-model="whoWith" type="text" id="whoWith">
                </div>
              </section>
            
              <section>
                <div>
                  <label>Start date:</label>
                  <input v-model="startDate" id="startDate"  type="date" name="startDate">
                </div> 

                <div>
                  <label>Meeting date:</label>
                  <input v-model="meetDate" id="meetDate" type="date" name="meetDate">
                </div>

                <div>
                  <label>OpCo deadline:</label>
                  <input v-model="deadline" id="deadline" type="date" name="deadline">
                </div>

                <div>
                  <label>Delivery date:</label>
                  <input v-model="delDate" id="delDate" type="date" name="delDate">
                </div>

                <div>
                  <label for="setStatus">Set status:</label>
                  <select v-model="setStatus" name="setStatus" id="setStatus">
                    <option value=""></option>
                    <option value="In progress">In progress</option>
                    <option value="Pending">Pending</option>
                  </select>
                </div>
              </section>
            </div>
            <div>
              <button @click="addRow">Submit</button>
              <button @click="cancel">Cancel</button>
            </div>
          </div>
        </div>
 
  </div>
</body>
<script src="app.js"></script>
</html>