<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
  <title>MoC tracker</title>
</head>
<body>
  <div id="app">
    <table>
      <thead class="border">
        <tr>
          <th class="intro">Name</th>
          <th class="intro">Confirmed?</th>
          <th class="intro">Type</th>
          <th class="intro">Status</th>
          <th class="intro">For:</th>
          <th class="intro">Who is the meeting with:</th>
          <th class="time-related">Start</th>
          <th class="time-related">Meeting date</th>
          <th class="time-related">Days till meeting</th>
          <th class="time-related">OpCo Deadline</th>
          <th class="time-related">Delivery Date</th>
          <th class="time-related">Rem 1</th>
          <th class="time-related">Rem 2</th>
          <th class="rest">Warsaw Status</th>
          <th class="cl">Marsh CL</th>
          <th class="ca">Marsh CA</th>
          <th class="cl">Mercer CL</th>
          <th class="ca">Mercer CA</th>
          <th class="ca">Mercer Wealth (Lindsey)</th>
          <th class="ca">MMB (Jeffrey)</th>
          <th class="cl">GC CL</th>
          <th class="ca">GC CA/RE</th>
          <th class="cl">OW CL</th>
          <th class="ca">OW CA</th>
          <th class="cl">B2B</th>
          <th class="ca">MMC</th>
          <th class="rest">BIO</th>
        </tr>
      </thead>
      <tbody >
        <tr class="select-row" v-for="each in tableContents">
          <td id="client-name">
            {{ each.clientName }}
          </td>
          <td id="confirmation">
            {{ each.confirmed }}
          </td>
          <td id="brief-type">
            {{ each.briefType }}
          </td>
          <td id="set-status">
            {{ each.setStatus }}
          </td>
          <td id="who-for">
            {{ each.whoFor }}
          </td>
          <td id="who-with">
            {{ each.whoWith }}
          </td>
          <td id="start-date">
            {{ each.startDate }}
          </td>
          <td id="meet-date">
            {{ each.meetDate }}
          </td>
          <td id="days-till-meet">
            
          </td>
          <td id="opco-deadline">
            {{ each.deadline }}
          </td>
          <td id="delivery-date">
            {{ each.delDate }}
          </td>
          <td id="rem-1">

          </td>
          <td id="rem-2">

          </td>
          <td id="waw-status">
            <select name="status" id="status">
              <option></option>
              <option value="Pending">Pending</option>
              <option value="WIP">WIP</option>
              <option value="PR1">PR1</option>
              <option value="PR2">PR2</option>
              <option value="Sent">Sent</option>
              <option value="On Hold">On Hold</option>
            </select>
          </td>
          <td id="marsh-cl">
            <div v-if="inputShow">
            <input v-model="each.inputEntry" 
            @keyup.enter="editRow"
            class="input" type="text" name="" id="">
            </div>
            <div v-else>
              <p>{{ each.inputEntry }}</p>
            </div>
          </td>
          <td id="marsh-ca">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="mercer-cl">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="mercer-ca">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="lindsey">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="mmb">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="gc-cl">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="gc-ca">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="ow-cl">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="ow-ca">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="b2b">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="mmc">
            <input class="input" type="text" name="" id="">
          </td>
          <td id="bio">

          </td>
        </tr>
      </tbody>
      </table>
      
        <div class="container">
          <button>Add new</button>
          <div class="control">
            <div class='add-fields'>
              <section>
                <div>
                  <label for="confirmed">Confirmed?</label>
                  <select v-model="confirmed" name="confirmed" id="confirmed">
                    <option value="blank"></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div>
                  <label for="briefSelection">Brief type:</label>
                  <select v-model="briefType" 
                  name="briefSelection" 
                  id="briefSelection">
                    <option value=""></option>
                    <option value="Client">Client</option>
                    <option value="Carrier">Carrier</option>
                  </select>
                </div>

                <div>
                  <label>Client name:</label>
                  <input v-model="clientName" type="text">
                </div>

                <div>
                  <label for="whoFor">For:</label>
                  <input v-model="whoFor" type="text" id="whoFor">
                </div>

                <div>
                  <label for="whoWith">Who is the meeting with:</label>
                  <input v-model="whoWith" type="text" id="whoWith">
                </div>
              </section>
            
              <section>
                <div>
                  <label>Start date:</label>
                  <input v-model="startDate" id="startDate"  type="date" name="startDate">
                </div> 

                <div>
                  <label>Meeting date:</label>
                  <input v-model="meetDate" id="meetDate" type="date" name="meetDate">
                </div>

                <div>
                  <label>OpCo deadline:</label>
                  <input v-model="deadline" id="deadline" type="date" name="deadline">
                </div>

                <div>
                  <label>Delivery date:</label>
                  <input v-model="delDate" id="delDate" type="date" name="delDate">
                </div>

                <div>
                  <label for="setStatus">Set status:</label>
                  <select v-model="setStatus" name="setStatus" id="setStatus">
                    <option value=""></option>
                    <option value="In progress">In progress</option>
                    <option value="Pending">Pending</option>
                  </select>
                </div>
              </section>
            </div>
            <div>
              <button @click="addRow">Submit</button>
              <button>Cancel</button>
            </div>
          </div>
        </div>
 
  </div>
</body>
<script src="app.js"></script>
</html>