table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: small;
  padding: 3px;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  
}

.intro {
  background-color: rgb(151, 10, 10);
  color: whitesmoke
}

.time-related {
  background-color: darkcyan;
  color: whitesmoke;
}

.ca {
  background-color: rgb(48, 146, 226);
  color: whitesmoke;
}

.cl {
  background-color: rgb(15, 92, 155);
  color: whitesmoke;
}

.rest {
  background-color: seagreen;
  color: whitesmoke;
}
.container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
 
.add-fields {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-fields section {
  height: 100%;
  width: 100%;
}
.add-fields section div {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 5em
}

.control{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}